@using TeamplateHotel.Handler
@using ProjectLibrary.Database
@using TeamplateHotel.Controllers
@model TeamplateHotel.Models.DetailRoom

@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    Menu menu = ViewBag.Menu ?? new Menu();
    var lang = Request.Cookies["LanguageID"].Value;
    Hotel detailHotel = CommentController.DetailHotel(Request.Cookies["LanguageID"].Value);
    int count = 1;
    ViewBag.RoomOther = GetLanguage.Language(lang, "Room other");
}
@section styles{
    <link rel="stylesheet" href="~/Content/css/style-page.css">
}
@Html.Partial("Banner/Banner")
<section class="room-pages-detail py-100">
    <div class="container">
        <!-- row-1 -->
        <div class="row">
            <div class="col-xl-8 col-lg-7 col-md-12 ">
                <div class="main-room-detail-left">
                    <div class="row">
                        <div class="col-xl-12">
                            <!--  -->
                            <div class="row">
                                <div class="col-xl-12 room-detail-carousel-5">
                                    <div class="room-detail-gallery-1 owl-carousel owl-theme">
                                        @foreach (var item in Model.RoomGalleries)
                                        {
                                            string str = "" + count;
                                            <div class="item" data-hash="@str">
                                                <img src="@item.ImageLarge" alt="">
                                            </div>
                                            if (count == Model.RoomGalleries.Count())
                                            {
                                                count = 1;
                                            }
                                            else
                                            {
                                                count++;
                                            }
                                        }
                                    </div>
                                    <div class="badge-title">
                                        <h3>@GetLanguage.Language(lang, "money") @(((double)Model.Room.Price).ToString("N0")) / @GetLanguage.Language(lang, "Day")</h3>
                                    </div>
                                </div>
                            </div>

                            <!-- row-2 -->
                            <div class="row">
                                <div class="col-xl-12">
                                    <ul class="carousel-list-room-detail">
                                        @if (Model.Room.Utilities != null && Model.Room.Utilities != "")
                                        {
                                            string[] arr = Model.Room.Utilities.Split('|').ToArray();
                                            foreach (var item in arr)
                                            {
                                                string[] i = item.Split('~').ToArray();
                                                string icon = i[0].ToString();
                                                string util = i[1].ToString();
                                                <li>
                                                    <span>
                                                        <i class="@icon"></i>
                                                    </span>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                            <!-- row-3 -->
                            <div class="row row-room-detail-2">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12  col-gallery-photo-2">
                                    <div class="room-detail-gallery-2 owl-carousel owl-theme">
                                        @foreach (var item in Model.RoomGalleries)
                                        {
                                            string str = "" + count;
                                            <a href="#@str" class="item" data-hash="@str">
                                                <img src="@item.ImageLarge" alt="">
                                            </a>
                                            count++;
                                        }
                                    </div>
                                </div>
                            </div>
                            <!--  -->
                        </div>
                    </div>
                    <!--  -->
                    <div class="main-room-detail-content">
                        <h3>@Model.Room.Title</h3>
                        @Html.Raw(Model.Room.Content)
                    </div>

                </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-12 ">
                <div class="main-room-detail-right">
                    <div class="book-a-room">
                        <div class="book-a-room-calendar">
                            <h3>
                                @GetLanguage.Language(lang, "Book Now")
                            </h3>
                            <form action="" method="GET" class="form-ckeck">
                                <div class="form__group">
                                    <div class="form__group-content">
                                        <!--  <label for="form__ckecking">Arrival date</label> -->
                                        <input class="form-control " id="checkIn" type="text" name="checkIn" placeholder="@GetLanguage.Language(lang, "Check-in time")"
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="form__group">
                                    <div class="form__group-content">
                                        <!--  <label for="form__ckecking">Arrival date</label> -->
                                        <input class="form-control " id="checkOut" type="text" name="checkOut" placeholder="@GetLanguage.Language(lang, "Check-out time")"
                                               autocomplete="off">
                                    </div>
                                </div>
                                <div class="form__group">
                                    <div class="form__group-content">
                                        <!-- <label for="form__ckecking">Adults</label> -->
                                        <input class="form-control " id="checkOut" type="number" name="@GetLanguage.Language(lang, "Guest")" value="0"
                                               autocomplete="off">

                                    </div>
                                </div>
                                <div class="calendar-link">
                                    <button type="submit">
                                        <a href="https://booking-guarantee.com/Home/SelectDate?hotelKey=IIT&lang=en&currency=USD"> @GetLanguage.Language(lang, "Book Now")</a>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--  -->
                    @*<div class="room-detail-right-banner">
                            <div class="room-detail-banner-content">
                                <p class="text-banner-content-1">December</p>
                                <h3>SPECIAL OFFER</h3>
                                <p class="text-banner-content-2">GET 20% OFF</p>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetuer Lorem ipsum dolor sit amet, consectetuer </p>
                            <div class="book-room-now-detail">
                                <button class="book-room-now">
                                    <a href="">
                                        book now
                                    </a>
                                </button>
                            </div>
                        </div>*@

                </div>
            </div>
        </div>
        <!--  -->
    </div>
</section>